html, body{
    margin: 0px;
    padding: 0px;
}


.container-fundo {
  
  justify-content: end;
  background-image: url('imagens/CadastroFundo.jpg');
  background-size: cover; 
  background-position: center;
  
 
  
  height: 100vh; 
  
  display: flex;
  justify-content: flex-end; 
  align-items: center;     
  padding-right: 50px;
}

.caixa-preta {
  background-color: black;
  opacity: 0.7;
  color: white;
  
  width: 400px;
  height: 700px;
  
  display: flex;
  justify-content: center;
  align-items: center;
}